<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Estados</h1>
        <table border="1">
            <thead>
                <th>Capital</th>
                <th>Poblacion</th>
                <th>Idioma</th>
                <th>Codigo</th>
                <th>Moneda</th>
            </thead>
            <tbody>
                <tr th:each="estado : ${estados}">
                    <td th:text="${estado.capital}"></td>
                    <td th:text="${estado.poblacion}"></td>
                    <td th:text="${estado.idioma}"></td>
                    <td th:text="${estado.codigoPais}"></td>
                    <td th:text="${estado.moneda}"></td>
                </tr>
            </tbody>
            
        </table>
    </body>
</html>
